<% @responses.reverse_each do |response| %>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">by <%= response.user.name %> from "<%= link_to response.feed.title, feed_path(response.feed, @feed) %>"</h2> 
        </div>
        <div class="panel-body">
            <%= raw(response.body) %>
        </div>
        <div class="panel-footer">
            <% unless response.responses.empty? %>
                <% if current_user == response.user or current_user.try(:admin?) %>
                    <%= render :partial => 'responses/response', :collection => response.responses %>
                <% end %>
            <% end %>
        </div>
    </div>        
<% end %>