<% @feed.writings.reverse_each do |writing| %>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">by <%= link_to writing.user.name, profile_path(writing.user.name) %></h2> 
        </div>
        <div class="panel-body">
            <%= raw(writing.content) %>
        </div>
        <div class="panel-footer">
            <% if writing.user == current_user or current_user.try(:admin?) %>
                <%= link_to 'Delete', [@feed, writing], method: :delete, data: { confirm: "Are you sure?" } %>
            <% end %>
        </div>
    </div>
<% end %>