<% if current_user.try(:admin?) %>
    <div class="centercontainer">
        <div class="centerrowfeeds">
            <div class="centercolumnfeeds">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Editing Feed</h2>
                    </div>
                    <div class="panel-body">
                        <%= render 'form', feed: @feed %>
                    </div>
                    <div class="panel-footer">
                        <%= link_to 'Back', feeds_path %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% else %>
    <div class="jumbotron">
        <h1>Not authorized.</h1>
        <p><%= link_to "Go Back", root_path, class: "btn btn-info" %></p>
    </div>
<% end %>


