<div class="page-header">
    <%= image_tag('logo.png', :alt => "Logo", :class => "img-responsive center-block", :width => "300px") %>
</div>
<p>On this page, students/users should see two buttons, one to the current assignment page with related pins and the other to an archive (database queries) of previous assignments</p>
<button role="button" class="btn btn-primary btn-block">
    last admin pin (feed)
</button>
<button role="button" class="btn btn-danger btn-block">
    all admin pins except last (feed)
</button>