<div class="panel panel-default">
  <div class="panel-heading"><h3>Know What You Share</h3></div>
  <div class="panel-body">
  	<h5>Read Feed is serious about privacy.</h5>
    <p><i>Though this is an online learning community, we all need personal space.</i></p>
    <p> When you respond to a feed, you are sharing your writing with other users.  Otherwise, what's yours is <strong>only</strong> yours.  That includes:</p>
  </div>

  <ul class="list-group">
    <li class="list-group-item">e-mail addresses</li>
    <li class="list-group-item">passwords</li>
    <li class="list-group-item">reviews from your teacher</li>
    <li class="list-group-item">communication with your teacher about your writing</li>
  </ul>
  <div class="panel-footer">
  <p>Do you have any questions? | <a href=""mailto:enupgrade@gmail.com">Contact your teacher, Thaddeus <span class="glyphicon glyphicon-envelope"></span></a></p>
  <%= link_to "Back", :back, class: "btn btn-primary" %>
  </div>
</div>