<% @responses.reverse_each do |response| %>
    <% if response.responses.empty? %>
        <% unless response.user.name == "Thaddeus McCleary" %>
        	<div class="panel panel-default">
        		<div class="panel-heading">
        			<h1 class="panel-title">by <strong><%= response.user.name %></strong> in "<%= link_to response.feed.title, feed_path(response.feed, @feed) %>"</h1>
        		</div>
        		<div class="panel-body">       
            		<%= raw(response.body) %>
            	</div>
            </div>
        <% end %>
    <% end %>
<% end %>