<p>by <a href="#" data-toggle="modal" data-target="#thaddeus" class="textpop">Thaddeus McCleary</a> @ <a class="textpop" href="http://www.enupgrade.com" target="_blank">English Upgrade</a></p>
<div class="modal fade" tabindex="-1" role="dialog" id="thaddeus">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
				<h4 class="modal-title text-left">Thaddeus McCleary</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12">
						<img id="profileImage" src="http://www.enupgrade.com/images/thaddeus.png" class="img-responsive img-rounded">
					</div>
					<div class="col-xs-12 text-left">
						<br>
	                    <p>Thaddeus teaches at Donetsk National University in Vinnytsia as an English Language Fellow <a href="http://elprograms.org/fellow/" target="_blank"><span class="glyphicon glyphicon-link textpop"></span></a>. Previously, he taught English as a Second Language (ESL) in Fayetteville, Arkansas, USA and English as a Foreign Language (EFL) in South Korea.</p>
	                    <p>He is also a web developer and believes <strong>anyone</strong> who can often be found smiling at a device in their hands can learn too. Check out FreeCodeCamp <a href="http://www.freecodecamp.com/" target="_blank"><span class="glyphicon glyphicon-link textpop"></span></a> and RailsGirls <a href="http://www.railsgirls.com/" target="_blank"><span class="glyphicon glyphicon-link textpop"></span></a> to get started.</p>
	                    <p>This web app was made with <span class="glyphicon glyphicon-heart"></span>, HTML, CSS, JQuery, and Ruby on Rails.</p>
					</div>
				</div>
			</div>
			<div class="modal-footer textpop">
				<h3 class="text-center"><a href="https://www.facebook.com/thaddeus.mccleary" target="_blank"><span class="icon fa fa-facebook-square"></span></a> <a href="https://www.flickr.com/photos/teachermc/" target="_blank"><span class="icon fa fa-flickr"></span></a> <a href="https://soundcloud.com/thaddeus-mccleary" target="_blank"><span class="icon fa fa-soundcloud"></span></a> <a href="https://github.com/thaddeusm" target="_blank"><span class="icon fa fa-git-square"></span></a> <a href="http://codepen.io/thaddeusm/" target="_blank"><span class="icon fa fa-codepen"></span></a> <a href="https://www.linkedin.com/in/thaddeus-mccleary-a89327112" target="_blank"><span class="icon fa fa-linkedin-square"></span></a> <a href="mailto:thaddeusmccleary@yahoo.com" target="_blank"><span class="icon fa fa-envelope"></span></a></h3>
			</div>
		</div>
	</div>
</div>